<mat-card>
  <form (submit)="onEditReview(reviewForm)" #reviewForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        ngModel={{review.title}}
        required
        placeholder="Title"
        #title="ngModel">
      <mat-error *ngIf="content.invalid">Please enter a review title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        name="content"
        ngModel={{review.content}}
        required
        placeholder="Comment"
        #content="ngModel">
      </textarea>
      <mat-error *ngIf="content.invalid">Please enter a review comment.</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit">Update Review</button>
  </form>
</mat-card>